{% extends 'base.html' %}
{% load static %}


{% block logo %}

{% endblock logo %}

{% block page_content %}
    <!-- PAGE TITLE SMALL -->
    <div class="har_page_title har_page_title_great har_image_bck har_fixed har_wht_txt" data-stellar-background-ratio="0.2" data-image="{% static 'images/studio/sl_2.jpg' %}">


      <!-- Over -->
      <div class="har_over" data-color="#000" data-opacity="0.4"></div>

      <div class="container text-left">
        <div class="row">

          <div class="col-md-8">
            <h1 class="har_h1_title">About</h1>
            <h3>{{ object.user.username }}</h3>
          </div>
          <div class="col-md-4">
            <div class="breadcrumbs">
              <a href="{% url 'homepage' %}">Home</a><a href="#">Artiste Page</a><span>{{ object.user.username }}</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Content -->
    <section id="har_content" class="har_content">


        <!-- section -->
        <section id="services" class="har_section har_image_bck har_wht_txt" data-color="#333">
            <div class="container">

                <div class="col-md-6">
                    {% if object.avatar %}
                        <img src="{{ object.avatar.url }}" alt="">
                    {% else %}
                        <img src="{% static 'images/artist_dummy.jpg' %}">{% endif %}
                </div>
                <div class="col-md-6">
                    <h2 class="har_margin">About {{ object.user.username }}</h2>
                    <p>{{ object.about_me }}</p>
                </div>
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->

        <!-- section -->
        <section class="har_section har_image_bck" >
            <div class="container text-center">

                <h2>My Tracks</h2>
                <!-- boxes -->
                <div class="har_icon_boxes row text-left">

                    <!-- animation -->
                    <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">
                    {% if artist_song %}
                        {% for song in artist_song %}
                        <!-- item -->
                        <div class="col-md-4 col-sm-6">
                            <div class="har_news_block text-center">
                                <span class="har_news_img">
                                    {% if song.cover_art %}
                                        <img src="{{ song.cover_art.url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'images/artist_dummy.jpg' %}">
                                    {% endif %}

                                </span>
                                <div class="clearfix" >
                                    <a href="{{ song.music.url }}" class="fa fa-download" style="color: darkred">
                                        Download
                                    </a>
                                </div>
                                <audio controls>
                                    <source src="{{ song.music.url }}" type="audio/mp3">
                                    <source src="{{ song.music.url }}" type="audio/ogg">
                                     Your browser does not support the audio element.
                                </audio>
                                <span class="har_news_title">{{ song.title }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No song uploaded by this artist yet.</p>
                    {% endif %}

                    </div>
                    <!-- animation end -->

                </div>
                <!-- boxes end -->


            </div>
            <!-- container end -->
        </section>
        <!-- section end -->
    </section>

{% endblock page_content %}