{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FANO| Official Website</title>


    <!-- Library CSS -->
    <link href="{% static 'css/harmony_library_min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

    <!-- Icons CSS -->
    <link href="{% static 'css/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/harmony_style.css' %}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">



</head>

<body class="har_middle_titles">


    <!--&lt;!&ndash; Preloader &ndash;&gt;-->
<!--<div class="har_preloader">-->
    <!--<span class="har_logo_eq">-->
        <!--<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>-->
    <!--</span>-->
<!--</div>-->
<!--&lt;!&ndash; Preloader End &ndash;&gt;-->

<!-- Page -->
<div class="har_page" id="har_page">

    <!-- To Top -->
    <a href="#har_page" class="har_top fa fa-arrow-up har_go"></a>

    {% block header %}
    <!-- Header -->
    <header>
        {% block logo %}
        <div class="" style="position: absolute; z-index: 1; margin-left: 20px">
            <a href="{% url 'homepage'  %}#home">
                <img style="max-height: 53px" src="{% static 'images/fano_logo.jpeg' %}" />
            </a>
        </div>
{% endblock logo %}
        <nav class="har_light_nav har_transp_nav">

            <div class="container" style="padding-bottom:20px">
                <!-- Logo -->
                <!-- Logo End-->
                <div class="har_top_menu_mobile_link">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- Top Menu -->
                <div class="har_top_menu_cont">

                    <ul class="har_top_menu">
                        <li class=""><a href="{% url 'homepage' %}">Home</a></li>
                        <li class=""><a href="{% url 'homepage' %}#about">About Us</a></li>
                        <li class=""><a href="{% url 'homepage' %}#blog">Blog</a></li>
                        <li class=""><a href="{% url 'homepage' %}#gallery">Gallery</a></li>
                        <li class=""><a href="{% url 'artist' %}">Artistes</a></li>
                    </ul>
                </div>
                <div style="float: right; margin-right: 30px">
                    {% if user.is_authenticated %}
                        <a href="{% url 'member_profile' user.member.id user.id %}"><span style="margin-top: 2px; background-color: #8F772D" class="btn btn-sm btn-primary">PROFILE</span></a>
                    {% else %}
                        <a href="{% url 'login' %}"><span style="margin-top: 2px; background-color: #8F772D" class="btn btn-sm btn-primary">LOGIN</span></a>
                        <a href="{% url 'sign_up' %}"><span style="margin-top: 2px; background-color: #8F772D" class="btn btn-sm btn-primary">SIGNUP</span></a>
                    {% endif %}
                </div>
                <!-- Top Menu End -->
            </div>
            <!-- container end -->
        </nav>

    </header>
    <!-- Header End -->
    {% endblock header %}


    {% block page_content %}

    {% endblock page_content %}

{% block footer %}
<!-- Footer -->
<footer class="har_image_bck text-center har_wht_txt" data-color="#000">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Copyrights -->
                <img  style="max-height: 120px" src="{% static 'images/fano_logo.jpeg' %}" />

                <!-- Social Buttons -->
                <div class="har_footer_social">
                    <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">
                        <a style="margin-right: 20px" href="https://www.facebook.com/Officialfano/" target="_blank"><i class="fa fa-facebook fa-3x har_icon_box"></i></a>
                        <a style="margin-right: 20px" href="https://www.instagram.com/officialfano" target="_blank"><i class="fa fa-instagram fa-3x har_icon_box"></i></a>
                        <a style="margin-right: 20px" href="https://twitter.com/Officialfano?s=09" target="_blank"><i class="fa fa-twitter fa-3x har_icon_box"></i></a>
                        <a style="margin-right: 20px" href="https://www.youtube.com/channel/UC62Obzr0CTJiW8yeKKEseRA" target="_blank"><i class="fa fa-youtube fa-3x har_icon_box"></i></a>
                    </div>
                </div>
                <br />
                <br />

                <p>© 2019 Fano Entertainment</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
{% endblock footer %}

</div>
<!-- Page End -->



<!-- JQuery -->
<script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>

<!-- Library JS -->
<script src="{% static 'js/harmony_library_min.js' %}"></script>
<script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>

<!-- Theme JS -->
<script src="{% static 'js/harmony_min_script.js' %}"></script>


</body>
</html>
